/*
AF7BFA
DF7AFE
F3F4F8
585858
*/

body {
    background: #F3F4F8;
}

.Budget {
    margin: auto;
    width: 720px;
}

.ylaosa {
    display: flex;
}

.ylaosa_oikea, .ylaosa_vasen {
    flex: 1;
}

.ylaosa_vasen {
    background: white;
    border-left: 5px solid #585858;
    border-right: 5px solid #585858;
    border-radius: 12px;
    background: #585858;
    color: white;
}

.kulut {
    display: flex;
}

.kulutlista, .lisaakulu {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background: rgb(175,123,250);
    background: linear-gradient(47deg, rgba(175,123,250,1) 0%, rgba(223,122,254,1) 100%);
    color: white;
    box-shadow: 0px 0px 50px rgb(134, 134, 134);
}

.info {
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-left: 7px solid #585858;
    border-right: 7px solid #585858;
}

.budget_header {
    background: rgb(175,123,250);
    background: linear-gradient(47deg, rgba(175,123,250,1) 0%, rgba(223,122,254,1) 100%);
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 50px rgb(134, 134, 134);
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    margin-top: 8px;
}

input:focus {
    outline: none;
}

label {
    font-size: 20px;
}