/*
AF7BFA
DF7AFE
F3F4F8
585858
*/

/*
e2dff6
cf601b
1a2349
07080d
3e2eae
*/

.Budget {
    margin: auto;
    width: 768px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 1px;
}

.ylaosa {
    display: flex;
}

.ylaosa_oikea, .ylaosa_vasen {
    flex: 1;
}

.ylaosa_vasen {
    background-color: #1A2349;
    border-radius: 25px;
    color: white;
}

.kulut {
    display: flex;
}

.kulutlista, .lisaakulu {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #1A2349;
    border-radius: 25px;
    color: white;
    height: 350px;
}

.kulutlista {
    overflow: auto;
}

.budget_header {
    color: white;
    font-size: 50px;
    letter-spacing: 10px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    margin-top: 8px;
}

input:focus {
    outline: none;
}

label {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

/* Tabs */

.info {
    display: flex;
    margin: 20px;
    background-color: #1A2349;
    text-align: center;
    border-radius: 50px 0px 0px 50px;
}

.tabs_ikoni {
    flex: 1;
    background-color: #07080d;
    padding: 20px;
    border-radius: 50px;
}

.tabs_text {
    flex: 4;
    padding: 20px;
    font-size: 24px;
    color: white;
}