.ylabanneri {
    width: 100%;
    height: 300px;
    color: white;
}

.index {
    width: 1080px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(238, 238, 238);
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
}

.kortti {
    display: flex;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 7px 7px 15px black;
}

.korttiKuva {
    flex: 1;
}

.korttiTeksti {
    flex: 3;
    margin-left: 10px;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

p {
    font-size: 18px;
}
