@font-face {
    font-family: minunFontti2;
    src: url("../../src/OldNewspaperTypes.ttf");
}
  
.Rssnews {
    width: 1024px;
    margin: auto;
    padding-bottom: 20px;
}

.rssUutiset {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
}

.rssUutinen {
    position: relative;
    height: 200px;
    border: 1px solid rgb(75, 75, 75);
}

.Rssnews > h1 {
    font-family: minunFontti2;
    font-size: 100px;
    margin: 10px;
    letter-spacing: 10px;
}

.rssUutinen > p {
    font-size: 20px;
}

.rssUutinen > h1 {
    font-size: 24px;
    font-family: "Times New Roman";
    color: black;
    margin: 0px;
    padding: 5px;
    margin: 10px;
}

aside {
    display: none;
}

figure {
    display: none;
}

/* The Modal (background) */
.rssArtikkeli {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(44,44,44); /* Fallback color */

    
}
  
/* Modal Content */
.rssArtikkeliContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    margin-bottom: 50px;
}

/* Nappi */

.rssNappi {
    background: rgb(44, 44, 44);
    color: white;
    border: 2px solid rgb(44, 44, 44);
    font-family: 'Monospace';
    letter-spacing: 2px;
	padding: 10px;
    font-size: 25px;
	cursor: pointer;
	outline: inherit;
    position: absolute;
    bottom: 10px;
    left: 160px;
}

.rssNappi:hover {
    background: white;
    color: black;  
}

.rssSuljeNappi {
    background: rgb(44, 44, 44);
    color: white;
    border: 2px solid rgb(44, 44, 44);
    font-family: 'Monospace';
    letter-spacing: 2px;
	padding: 10px;
    font-size: 25px;
	cursor: pointer;
}

.rssSuljeNappi:hover {
    background: white;
    color: black;  
}

.filterNappiIL {
    background: url(../App/iltalehti_logo.png) no-repeat;
    cursor: pointer;
    border: none;
    height: 100px;
    width: 328px;
}

.filterNappiIL:hover { opacity: 0.6; }

.filterNappiYle {
    background: url(../App/yle_logo.png) no-repeat;
    cursor: pointer;
    border: none;
    height: 100px;
    width: 266px;
}

.filterNappiYle:hover { opacity: 0.6; }

