@font-face {
    font-family: minunFontti2;
    src: url("../../src/OldNewspaperTypes.ttf");
}
  
.Rssnews {
    width: 1024px;
    margin: auto;
    padding-bottom: 20px;
}

.rssFlex {
    display: flex;
}

.rssUutiset {
    margin-top: 20px;
    text-align: left;
    flex: 2;
}

.rssNapit {
    flex: 1;
}

.rssUutinen {
    height: auto;
    border: 1px solid rgb(75, 75, 75);
    padding: 15px;
    margin: 10px;
}

.Rssnews > h1 {
    font-family: minunFontti2;
    font-size: 100px;
    margin: 10px;
    letter-spacing: 10px;
}

.rssUutinen > p {
    font-size: 20px;
    padding: 5px;
    font-family: "Times New Roman";
}

.rssUutinen > h1 {
    font-size: 24px;
    font-family: "Times New Roman";
    color: black;

}

.rssUutinen > a {
    text-decoration: none;
}


/* Napit */

.avaanewsNappi {
    display: block;
    background: rgb(44, 44, 44);
    color: white;
    border: 2px solid rgb(44, 44, 44);
    font-family: 'Monospace';
    letter-spacing: 2px;
	padding: 10px;
    font-size: 25px;
	cursor: pointer;
    bottom: 10px;
    left: 160px;
}

.avaanewsNappi:hover { 
    background: white;
    color: black;  
}



