@font-face {
  font-family: minunFontti;
  src: url("../helsinki.ttf");
}

.Wishlist {
  margin: auto;
  width: 50%;
  height: 70%;
}

span { margin: 2px; }


.vasen_puoli, .oikea_puoli {
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  opacity: 0.9;
  border: 5px solid black;
}

.vasen_puoli {
  position: relative;
}

.vasen_puoli > img {
  position: absolute;
  top: -70px;
  left: -60px;
  transform: rotate(-25deg);
}

.oikea_puoli {
  height: 460px;
  overflow: auto;
}

.headeri {
  font-size: 48px;
  font-family: minunFontti;
  position: relative;
}

.headeri > img {
  position: absolute;
  top: -40px;
}
  
